*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Website project
db.sqlite3
hosting-private
hosting-public
settings_override.py
static/admin
static/debug_toolbar
static/file_browser
static/monitoring
temp/
