{% extends "fdp_app/base.html" %}{% load i18n %}{% load static %}

{% block title %}{% trans "Erreur 500" %}{% endblock %}

{% block body %}
    <div id="inline">
        <div class="center">
            <div class="block">
                <img src="http://gregland.net/img/maintenance.jpg" >
                </br>
                Nous sommes désolé mais le site du Foyer du Porteau à rencontré un problème.
                </br>
                Nous faisons tout notre possible pour que celle ci soit corrigé.
                </br>
                Revenez plus tard.
                </br>
                Merci.
            </div>
        </div>
    </div>
{% endblock %}
