.block
{
	background-color: #ffffff;
    border: 1px solid #aaa;
    -moz-border-radius: 5px;
    border-radius: 5px;
	overflow : hidden;
	margin: 8px;
}

.title
{
	font-size: 18px;
	text-align: center;
    text-shadow: 0px 0px 3px #000000;
	color: #ffffff;
	-moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
	background: #1e5799; /* Old browsers */
	background: -moz-linear-gradient(top, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(50%,#2989d8), color-stop(51%,#207cca), color-stop(100%,#7db9e8)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* IE10+ */
	background: linear-gradient(to bottom, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
    /*box-shadow: 0px 8px 5px #aaa;*/
}

#content .title
{
    color: #000000;
    text-shadow: 0px 0px 3px #ffffff;
    background: #fceabb; /* Old browsers */
    background: -moz-linear-gradient(top, #fceabb 0%, #fccd4d 50%, #f8b500 51%, #fbdf93 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fceabb), color-stop(50%,#fccd4d), color-stop(51%,#f8b500), color-stop(100%,#fbdf93)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #fceabb 0%,#fccd4d 50%,#f8b500 51%,#fbdf93 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #fceabb 0%,#fccd4d 50%,#f8b500 51%,#fbdf93 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #fceabb 0%,#fccd4d 50%,#f8b500 51%,#fbdf93 100%); /* IE10+ */
    background: linear-gradient(to bottom, #fceabb 0%,#fccd4d 50%,#f8b500 51%,#fbdf93 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fceabb', endColorstr='#fbdf93',GradientType=0 ); /* IE6-9 */
}

#content .title_fixe
{
    font-size: 18px;
	text-align: center;
    text-shadow: 0px 0px 3px #000000;
	color: #ffffff;
	-moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
	background: #1e5799; /* Old browsers */
	background: -moz-linear-gradient(top, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(50%,#2989d8), color-stop(51%,#207cca), color-stop(100%,#7db9e8)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* IE10+ */
	background: linear-gradient(to bottom, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
}

#content .subtitle
{
    text-align: center;
    text-shadow: 0px 0px 3px #ffffff;
}

#content .paragraphe
{
    margin: 8px;
    font-size: 14px;
}

#content img
{
	width: 180px;
}

#content .left
{
	float: left;
	margin: 8px;
	width: 185px;
}

#content .bottom
{
    clear:both;
    /*background: #1e5799; /* Old browsers */
}

#content .images
{
    width: 70px;
    height: 70px;
    margin: 10px 15px 10px 15px;
}


#light_block
{
	background-color: #ffffff;
    border-bottom: 1px solid #aaa;
	overflow : hidden;
	margin: 2px;
    font-size: 14px;
}

#light_block img
{
	width: 60px;
}

#light_block .left
{
	float: left;
	margin: 2px;
	width: 68px;
}

