#header {
    margin: 0px;
    padding: 0px;
    width: 100%;
    min-width: 1000px;
    height: 180px;
    text-align: left;
    position: relative;
    display: block;
    overflow: hidden;
}

#header .header-bg {
    width: 100%;
    height: 130px;
    display: block;
    background-color: #ffb100;
    /*float:left;*/
}

#header .banner {
	text-align: right;
    font-size: 28px;
    width: 100%;
    height: 130px;
    display: block;
    background: transparent url("../images/banner.png") 50% 0 no-repeat;
}

#header .menu {
    float:right;
}

#header .username {
    float:right;
}

#header a{
    margin: 0px;
}

#menu {
    width: 100%;
    min-width: 1000px;
    height: 30px;
    text-align: center;
	display: inline-block;
    background-color: #000000;
}

#menu li
{
	margin: 6px;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    color: #ffffff;
}

#menu a
{
    color: #bbbbbb;
	margin: 8px;
    text-decoration: none;
}

#menu a:hover
{
    color: #ffffff;
}
