{% extends "fdp_app/base.html" %}{% load i18n %}{% load staticfiles %}

{% block title %}{% trans "Activités" %}{% endblock %}

{% block body %}
    <div class="center">
        <div id="content">
            <div class="block">
              {% for section in all_sections %}
                {% if section.types == 0 and section.name != 'Foyer du Porteau' and section.hide != 1 %}
                    <a href="{% url 'fdp_app-section_view' section.url %}">
                        <div id="light_block">
                            <div class="light_left"><img src="{% url 'media' section.picture %}" ></div>
                            <div class="paragraphe">
                                <div class="title">{{ section.name }}</div>
                                <div class="subtitle">{{section.schedule}}</div>
                            </div>
                        </div>
                    </a>
                {% endif %}
              {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
