<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <link rel="stylesheet" href="{% url 'statics' 'stylesheets/header.css' %}" />
        <link rel="stylesheet" href="{% url 'statics'  'stylesheets/style.css' %}" />
        <link rel="stylesheet" href="{% url 'statics'  'stylesheets/font.css' %}" />
        <link rel="stylesheet" href="{% url 'statics'  'stylesheets/blocks.css' %}" />
        <link rel="stylesheet" href="{% url 'statics' 'stylesheets/footer.css' %}" />
        <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" />
        <title>Foyer du Porteau</title>
    </head>
    <body>
		{% include "fdp_app/header.html" %}
        <div id="bloc_page">                       
            <div id="inline">
                {% include "fdp_app/left.html" %}
            </div>
            <div id="inline">
                <div class="center">
				    <div id="content">
                        <div class="block">
                            <div class="title">Ajouter une photo</div>
                                <form action="ajouter_photo" method="post" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <table>
                                        {% for field in  picture_form %}
                                        <tr>
                                            {% if field.label == 'File' %}
                                                <th>Image(s) :</th><td>{{ field }}</td>
                                                <td style="color:red;">{{ field.errors }}</td> 
                                            {% else %}
                                                <th>{{ field.label_tag }}</th> <td>{{ field }}</td>
                                                <td style="color:red;">{{ field.errors }}</td>
                                            {% endif %}
                                        </tr>
                                        {% endfor %}
                                    </table>
                                    <input type="submit" value="Valider" />
                                </form>                            
                        </div>
                    </div>
                </div>
            </div>

            <div id="inline">
                {% include "fdp_app/right.html" %}
            </div>           
        </div>
        {% include "fdp_app/footer.html" %}
    </body>
</html>
