{% extends "fdp_app/base.html" %}{% load i18n %}{% load static %}

{% block title %}{% trans "Evènement" %}{% endblock %}

{% block body %}
    <div id="inline">
        <div class="center">
            <div id="content">
                <div class="block">
                    <div class="title">{{ event.name }}</div>
                    <div class="left">
                        {% for image in event.pictures %}
                            {% if forloop.first %}
                                <img src="{% url 'media' image.filename %}" >                           
                            {% endif %}  
                        {% endfor %}
                        Date : <div class="schedule">{{ event.date }}</div>
                    </div>
                    <div class="paragraphe">{{ event.content|linebreaks }}</div>
                    
                    <script type="text/javascript">
                        var viewer = new PhotoViewer();
                        {% for image in event.pictures %}
                        viewer.add("{% url 'media' image.filename %}");
                        {% endfor %}
                    </script>
                    <a href="javascript:void(viewer.show(0))">
                        <div class="bottom">
                            {% for image in event.pictures %}
                                <img class="images" src="{% url 'media' image.filename %}">                           
                            {% endfor %}</div>
                        </div>
                    </a>

            </div>
        </div>
    </div>
{% endblock %}
