<!DOCTYPE html>
<footer id="footer">
    <div class="footer-bg">
    <div id="footer_black"></div>
        <div id="visites">
		<a href="http://www.compteurdevisite.com" title="mon compteur"><img src="http://counter3.statcounterfree.com/private/compteurdevisite.php?c=ef334c3616ac6f19e47b15ec3c2becff" border="0" title="mon compteur" alt="mon compteur"></a>visiteurs
	</div>
        <div id="createurs">Développement web : Flavie Lancereau, Anthony Violo</div>
        <div id="createurs">Logo du Foyer déssiné par <a href="http://clochettecf.blogspot.fr">Cassandre</a></div>
    </div>
</footer>
