<!DOCTYPE html>
<footer id="footer">
    <div class="footer-bg">
    <div id="footer_black"></div>
        <div id="visites"> <script type="text/javascript" language="javascript">d = new Date(); document.write(d.toLocaleDateString());</script> <img src="/tinc?key=HuEsCyqC"> Visiteurs</div>
        <div id="createurs">Développement web : Flavie Lancereau, Anthony Violo</div>
        <div id="createurs">Logo du Foyer déssiné par <a href="http://clochettecf.blogspot.fr">Cassandre</a></div>
    </div>
</footer>
