<!DOCTYPE html>
<div id="header">
    <div class="header-bg">
        {% if username %}
            <div class="username">
                Bonjour {{ username }}<br />
                <!--<a href="{% url 'fdp_app-menu_view' %}">menu<br /></a>-->
                <a href="{% url 'fdp_app-logout_view' %}">se déconnecter<br /></a>
            </div>
        {% else %}
            <div class="username">
                <a href="{% url 'fdp_app-login_view' %}"> s'identifier</a>
            </div>
        {% endif %}
        <a href="{% url 'fdp_app-home_view' %}"><div class="banner"></div></a>
    </div>
	<div id="menu">
        {% for section in all_sections %}
            {% if section.types == 1 and section.hide != 1 %}
                {% if section.name == 'Accueil' %}
                    <li><a href="{% url 'fdp_app-home_view' %}">{{ section.name }}</a></li>
                {% elif section.name == 'Activités' %}
                    <li><a href="{% url 'fdp_app-activites_view' %}">{{ section.name }}</a></li>
                {% elif section.name == 'Précédent site' %}
                    <li><a href="http://www.old.foyerduporteau.net/">{{ section.name }}</a></li>
                {% elif section.name == 'Photos' %}
                    <li><a href="{% url 'fdp_app-pictures_view' 2014 %}">{{ section.name }}</a></li>
                {% elif section.name == 'Animations' %}
                    <li><a href="{% url 'fdp_app-pictures_view' %}">{{ section.name }}</a></li>
                {% else %}
		            <li><a href="{% url 'fdp_app-infos_view' section.url %}">{{ section.name }}</a></li>
                {% endif %}
            {% endif %}
        {% endfor %}
    </div>
</div>
