<!DOCTYPE html>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <link rel="stylesheet" href="{% url 'medias' 'statics/stylesheets/header.css' %}" />
        <link rel="stylesheet" href="{% url 'medias'  'statics/stylesheets/style.css' %}" />
        <link rel="stylesheet" href="{% url 'medias'  'statics/stylesheets/font.css' %}" />
        <link rel="stylesheet" href="{% url 'medias'  'statics/stylesheets/blocks.css' %}" />
        <link rel="stylesheet" href="{% url 'medias' 'statics/stylesheets/footer.css' %}" />
        <title>Foyer du Porteau</title>
        <script type="text/javascript" src="http://slideshow.triptracker.net/slide.js"></script>
    </head>

    <body>
        <div id="header">
            <div class="header-bg">
                <div class="banner"></div>
	            <div id="menu"></div>
            </div>
        </div>
        <div id="inline">
            <div class="center">
                <div class="block">
                    <img src="http://gregland.net/img/maintenance.jpg" >
                    </br>
                    Nous sommes désolé mais le site du Foyer du Porteau est actuellement en maintenance pour une mise à jour.
                    </br>
                    Nous faisons tout notre possible pour que celle ci soit rapide.
                    </br>
                    Revenez d'ici quelques minutes.
                    </br>
                    Merci.
                </div>
            </div>
        </div>

        <footer id="footer">
            <div class="footer-bg">
            <div id="footer_black"></div>
                <div id="visites"> <script type="text/javascript" language="javascript">d = new Date(); document.write(d.toLocaleDateString());</script> <img src="/tinc?key=HuEsCyqC"> Visiteurs</div>
                <div id="createurs">Développement web : Flavie Lancereau, Anthony Violo</div>
                <div id="createurs">Logo du Foyer déssiné par <a href="http://clochettecf.blogspot.fr">Cassandre</a></div>
            </div>
        </footer>

    </body>

</html>
