{% extends "fdp_app/base.html" %}{% load i18n %}{% load staticfiles %}

{% block title %}{% trans "Accueil" %}{% endblock %}

{% block body %}
    <div class="center">
        <div id="content">

            <div class="block">
                <div class="title">{{ home_sections.name }}</div>
                {% for section in autho_section %}
                    {% if section.section__name == home_sections.name %}
                        <div class="transparent_block" style="width:20%; float:right; border: 2px dashed #f67521;">
                            <div class="light_block">
                                <div class="left" style="width:10%;">
                                    <img src="{% static 'images/change.png' %}">
                                </div>
                                <div class="paragraphe">
                                    <a href="{% url 'fdp_app-modify_section_view' home_sections.slug %}">Modifier le contenu</a>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}


                <div class="left">
                    {% if home_sections.picture %}
                        <img src="{% url 'media' home_sections.picture %}" >
                    {% endif %}
                </div>
                <div class="paragraphe">
                {{ home_sections.content|safe|urlize|linebreaks|truncatewords:150 }}
                </div>
            </div>
            {% for section in autho_section %}
                {% if section.section__name == home_sections.name %}
                    <a href="{% url 'fdp_app-add_event_view' home_sections.slug %}">
                        <div class="transparent_block" style="width:30%; margin:auto;">
                            <div class="left">
                                <img src="{% static  'images/add.png' %}">
                            </div>
                            <div class="paragraphe">Ajouter un évènement à la section {{ home_sections.name }} </div>
                        </div>
                    </a>
                {% endif %}
            {% endfor %}
            {% for event in all_events %}
            <div class="block">
                <div class="title"> <a href="{% url 'fdp_app-event_view' home_sections.slug event.id %}">{{ event.name }}</a></div>
                <div class="subtitle"> Date : {{ event.date }}</div>
                {% for section in autho_section %}
                    {% if section.section__name == home_sections.name %}
                        <div class="transparent_block" style="width:20%; float:right; border: 2px dashed #f67521;">
                            <div class="light_block">
                                <div class="left" style="width:10%;">
                                    <img src="{% static 'images/add.png' %}">
                                </div>
                                <div class="paragraphe">
                                    <a href="{% url 'fdp_app-add_picture_view' home_sections.slug event.id %}">Ajouter des photos</a>
                                </div>
                            </div>
                            
                            <div class="light_block">
                                <div class="left" style="width:10%;">
                                    <img src="{% static 'images/change.png' %}">
                                </div>
                                <div class="paragraphe">
                                    <a href="{% url 'fdp_app-modify_event_view' home_sections.slug event.id %}">Modifier</a>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
                {% if event.pictures %} 
                    <div class="left">
                        {% for image in event.pictures %}
                            {% if forloop.first %}
                                <script type="text/javascript">
                                var viewer_{{event.id}} = new PhotoViewer();
                                {% for image in event.pictures %}
                                viewer_{{event.id}}.add("{% url 'media' image.filename %}");
                                {% endfor %}
                                </script>
                                <a href="javascript:void(viewer_{{event.id}}.show(0))">
                                    <img src="{% url 'media' image.miniature %}" >
                                </a>                           
                            {% endif %}  
                        {% endfor %}
                    </div>
                    <a href="javascript:void(viewer_{{event.id}}.show(0))">
                        <div class="bottom">
                            {% for image in event.pictures|slice:"1:6" %}
                                <img class="images" src="{% url 'media' image.miniature %}">                           
                            {% endfor %}
                        </div>
                    </a>
                {% endif %}
                <div class="paragraphe">{{ event.content|safe|urlize|linebreaks|truncatewords:100 }}</div>  
            </div>
            {% endfor %}

        </div>
    </div>
{% endblock %}
