{% extends "fdp_app/base.html" %}{% load i18n %}{% load static %}

{% block title %}{% trans "Information" %}{% endblock %}

{% block body %}
    <div class="center">
        <div id="content">
            <div class="block">
                <div class="title">{{ contents_sections.name }}</div>
                <div class="left">
                    {% if contents_sections.picture %}
                        <img src="{% url 'media' contents_sections.picture %}" >
                    {% endif %}
                </div>
                <div class="paragraphe">{{ contents_sections.content|safe|urlize|linebreaks }}</div>
            </div>
            
            {% for event in all_events %}
            <div class="block">
                <div class="left">
                    <script type="text/javascript">
                    var viewer_{{event.id}} = new PhotoViewer();
                    </script>
                    {% for image in event.pictures %}
                        {% if forloop.first %}
                            <a href="javascript:void(viewer_{{event.id}}.show(0))">
                                <img src="{% url 'media' image.miniature %}" >
                            </a>                              
                        {% endif %}
                        <script type="text/javascript">
                            viewer_{{event.id}}.add("{% url 'media' image.filename %}");
                        </script>
                    {% endfor %}
                </div>
                <div class="paragraphe">{{ event.content|urlize|linebreaks }}</div>
                <div class="bottom">
                    {% for image in event.pictures|slice:"1:6" %}
                        <a href="javascript:void(viewer_{{event.id}}.show(0))">
                            <img class="images" src="{% url 'media' image.miniature %}"> 
                        </a>                          
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
