<!DOCTYPE html>
<div class="left">
    <div class="transparent_block">
        <div class="title">Activités</div>
        <ul id="section-list">
	          {% for section in all_sections %}
                {% if section.types == 0 and section.name != 'Foyer du Porteau' and section.hide != 1 %}
	                <li>
			            <div class="view">
                            <a href="{% url 'fdp_app-section_view' section.url %}">{{ section.name }}</a>
			            </div>
	                </li>
                {% endif %}
	          {% endfor %}
		</ul>
    </div>

    <div class="transparent_block">
        <img src="http://www.old.foyerduporteau.net/2012/animations/images/fermopanier.gif" style="width:100%;">
        <div class="margin" style="margin: 8px;">Tous les vendredis matin livraison de paniers de légumes
        <a href="http://www.fermopanier.com">fermopanier.com</a></div>
    </div>

</div>
