{% extends "fdp_app/base.html" %}{% load i18n %}{% load staticfiles %}

{% block title %}{% trans "Connexion" %}{% endblock %}

{% block body %}
    <div class="center">
        <div id="content">
            <div class="block">
                <div class="title_fixe">Connexion au site</div>
                <form action="/login/" method="post">
                    {% csrf_token %}
                        utilisateur : <input type="text" name="username" value="" /><br />
                        mot de passe : <input type="password" name="password" value="" /><br />
                        <input type="submit" value="Log In" />
                </form>
                {% if username %}
                  {{ username }}<br />
                {% endif %}
                {{ state }}<br />
            </div> 
        </div>
    </div>
{% endblock %}
