<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <link rel="stylesheet" href="{% url 'medias' 'statics/stylesheets/header.css' %}" />
        <link rel="stylesheet" href="{% url 'medias'  'statics/stylesheets/style.css' %}" />
        <link rel="stylesheet" href="{% url 'medias'  'statics/stylesheets/font.css' %}" />
        <link rel="stylesheet" href="{% url 'medias'  'statics/stylesheets/blocks.css' %}" />
        <link rel="stylesheet" href="{% url 'medias' 'statics/stylesheets/footer.css' %}" />
        <title>Foyer du Porteau</title>
        <script type="text/javascript" src="http://slideshow.triptracker.net/slide.js"></script>
    </head>

    <body>
		{% include "fdp_app/header.html" %}
        <div id="bloc_page">                       
            <div id="inline">
                {% include "fdp_app/left.html" %}
            </div>
            <div id="inline">
                <div class="center">
				    <div id="content">
                        <div class="block">
                            <div class="title_fixe">Menu</div>
                        </div>
                        <div>
                            test
                        </div>
                    </div>
                </div>
            </div>

            <div id="inline">
                {% include "fdp_app/right.html" %}
            </div>           
        </div>
        {% include "fdp_app/footer.html" %}
    </body>
</html>
