{% extends "fdp_app/base.html" %}{% load i18n %}{% load staticfiles %}

{% block title %}{% trans "Modifier une section" %}{% endblock %}

{% block head %}
    <script type="text/javascript">
        $(function() {
            $('#id_date').datetimepicker({ dateFormat: 'yy-mm-dd' });
        });
    </script>
{% endblock %}

{% block body %}
    <div class="center">
        <div id="content">
            <div class="block">
                <div class="title">Modifier la section: </div>
                <form action="modifier_section" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                        <table><tbody>
                        {% for field in  modify_section_form %}
                            <tr>
                                {% if field.label == 'Contents' %}
                                    <th>Description: </th> <td>{{ field }}</td>
                                    <td style="color:red;">{{ field.errors }}</td>
                                {% elif field.label == 'Schedule' %}
                                    <th>Horaires: </th> <td>{{ field }}</td>
                                    <td style="color:red;">{{ field.errors }}</td>  
                                {% elif field.label == 'Picture' %}
                                    <th>Image: </th> <td><img src="{{ field.value.slug }}" />
                                    Modifier: <input id="id_picture" type="file" name="picture"></td>
                                    <td style="color:red;">{{ field.errors }}</td> 
                                {% else %}
                                    <th>{{ field.label_tag }}</th> <td>{{ field }}</td>
                                    <td style="color:red;">{{ field.errors }}</td> 
                                {% endif %}
                            </tr>
                        {% endfor %}
                        </tbody></table>
                    <input type="submit" value="Valider" />
                </form>
            </div>
        </div>
    </div>
{% endblock %}
