<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <link rel="stylesheet" href="{% url 'statics' 'stylesheets/header.css' %}" />
        <link rel="stylesheet" href="{% url 'statics'  'stylesheets/style.css' %}" />
        <link rel="stylesheet" href="{% url 'statics'  'stylesheets/font.css' %}" />
        <link rel="stylesheet" href="{% url 'statics'  'stylesheets/blocks.css' %}" />
        <link rel="stylesheet" href="{% url 'statics' 'stylesheets/footer.css' %}" />
        <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" />
        <title>Foyer du Porteau</title>
        <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
        <script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
        <script src="/statics/javascripts/jquery-ui-timepicker-addon.js"></script>
        <script type="text/javascript">
            $(function() {
                $('#id_date').datetimepicker({ dateFormat: 'yy-mm-dd' });
            });
        </script>
    </head>

    <body>
		{% include "fdp_app/header.html" %}                  
            <div id="bloc_page">                       
            {% include "fdp_app/left.html" %}
            {% include "fdp_app/right.html" %}
            <div class="center">
                <div id="content">
                    <div class="block">
                        <div class="title">Modifier la section: </div>
                        <form action="modifier_section" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                                <table><tbody>
                                {% for field in  modify_section_form %}
                                    <tr>
                                        {% if field.label == 'Contents' %}
                                            <th>Description :</th> <td>{{ field }}</td>
                                            <td style="color:red;">{{ field.errors }}</td>
                                        {% elif field.label == 'Schedule' %}
                                            <th>Horaires : </th> <td>{{ field }}</td>
                                            <td style="color:red;">{{ field.errors }}</td>  
                                        {% elif field.label == 'Picture' %}
                                            <th>Image :</th> <td><img src="{{ field.value.url }}" /></td><td><input id="id_picture" type="file" name="picture"></td>
                                            <td style="color:red;">{{ field.errors }}</td> 
                                        {% else %}
                                            <th>{{ field.label_tag }}</th> <td>{{ field }}</td>
                                            <td style="color:red;">{{ field.errors }}</td> 
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                                </tbody></table>
                            <input type="submit" value="Valider" />
                        </form>
                    </div>
                </div>
            </div>     
        </div>
        {% include "fdp_app/footer.html" %}
    </body>
</html>
