{% extends "fdp_app/base.html" %}{% load i18n %}{% load staticfiles %}

{% block title %}{% trans "Photos" %}{% endblock %}

{% block body %}
    <div class="center">
        <div id="content">
            <div id="submenu">
                {% for year in years %}
                    <li><a href="{% url 'fdp_app-pictures_view' year %}">{{ year }}</a></li>
                {% endfor %}
                <li><a href="{% url 'fdp_app-pictures_view' '0000' %}">Prochaines animations</a></li>
            </div>

            <script type="text/javascript" src="{% static 'javascripts/slide.js' %}"></script>
            {% for event in all_events %}
                <div class="block">
                    <div class="title">{{ event.name }}</div>
                    <div class="subtitle"> Date : {{ event.date }}</div>
                    {% for section in autho_section %}
                        {% if section.section__id == event.section_id %}
                            <div class="transparent_block" style="width:20%; float:right; border: 2px dashed #f67521;">
                                <div class="light_block">
                                    <div class="left" style="width:10%;">
                                        <img src="{% static 'images/add.png' %}">
                                    </div>
                                    <div class="paragraphe">
                                        <a href="{% url 'fdp_app-add_picture_view' section.section__url event.id %}">Ajouter des photos</a>
                                    </div>
                                </div>
                                <div class="light_block">
                                    <div class="left" style="width:10%;">
                                        <img src="{% static 'images/change.png' %}">
                                    </div>
                                    <div class="paragraphe">
                                        <a href="{% url 'fdp_app-modify_event_view' section.section__url event.id %}">Modifier</a>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                    <script type="text/javascript">
                        var viewer_{{event.id}} = new PhotoViewer();
                        {% for image in event.pictures %}
                            viewer_{{event.id}}.add("{% url 'media' image.filename %}");
                        {% endfor %}
                    </script>
                    <a href="javascript:void(viewer_{{event.id}}.show(0))">
                        <span class="bottom">
                            {% for image in event.pictures|slice:":5" %}
                                <img class="images" src="{% url 'media' image.miniature %}">                           
                            {% endfor %}
                        </span>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
