<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <link rel="stylesheet" href="{% url 'statics' 'stylesheets/header.css' %}" />
        <link rel="stylesheet" href="{% url 'statics'  'stylesheets/style.css' %}" />
        <link rel="stylesheet" href="{% url 'statics'  'stylesheets/font.css' %}" />
        <link rel="stylesheet" href="{% url 'statics'  'stylesheets/blocks.css' %}" />
        <link rel="stylesheet" href="{% url 'statics' 'stylesheets/footer.css' %}" />
        <title>Foyer du Porteau</title>
    </head>

    <body>
		{% include "fdp_app/header.html" %}
        <div id="bloc_page">                       
            {% include "fdp_app/left.html" %}
            {% include "fdp_app/right.html" %}
            <div class="center">
			    <div id="content">
                    <div id="submenu">
                        {% for year in years %}
                            <li><a href="{% url 'fdp_app-pictures_view' year %}">{{ year }}</a></li>
                      	{% endfor %}
                        <li><a href="{% url 'fdp_app-pictures_view' '0000' %}">Prochaines animations</a></li>
                    </div>

                    <script type="text/javascript" src="http://slideshow.triptracker.net/slide.js"></script>
                    {% for event in all_events %}
					<div class="block">
                        <div class="title">{{ event.name }}</div>
                        <div class="subtitle"> Date : {{ event.date }}</div>
                        {% for section in autho_section %}
                            {% if section.section__id == event.section_id %}
                                <div class="transparent_block" style="width:20%; float:right; border: 2px dashed #f67521;">
                                    <div class="light_block">
                                        <div class="left" style="width:10%;">
                                            <img src="{% url 'statics' 'images/add.png' %}">
                                        </div>
                                        <div class="paragraphe">
                                            <a href="{% url 'fdp_app-add_picture_view' section.section__url event.id %}">Ajouter des photos</a>
                                        </div>
                                    </div>
                                    <div class="light_block">
                                        <div class="left" style="width:10%;">
                                            <img src="{% url 'statics' 'images/change.png' %}">
                                        </div>
                                        <div class="paragraphe">
                                            <a href="{% url 'fdp_app-modify_event_view' section.section__url event.id %}">Modifier</a>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                        <script type="text/javascript">
                            var viewer_{{event.id}} = new PhotoViewer();
                            {% for image in event.pictures %}
                                viewer_{{event.id}}.add("{% url 'medias' image.filename %}");
                            {% endfor %}
                        </script>
                        <a href="javascript:void(viewer_{{event.id}}.show(0))">
                        <div class="bottom">
                            {% for image in event.pictures|slice:":5" %}
                                <img class="images" src="{% url 'medias' image.miniature %}">                           
                            {% endfor %}</div>
                        </a>
					    </div>
                  	{% endfor %}
                </div>
            </div>
        </div>
        {% include "fdp_app/footer.html" %}
    </body>
</html>
