<!DOCTYPE html>
<div class="right">
    <div class="transparent_block">
        <div class="title">Changements récents</div>
        {% for entry in recent_change %}

            <a href="{% url 'fdp_app-event_view' entry.section_slug entry.id %}">
            <div id="light_block">
            <!--<div class="subtitle">{{ entry.title }}</div>-->
            {% if entry.pictures %}
		        <div class="left">
                        {% for image in entry.pictures %}
                            {% if forloop.first %}
                                {% if entry.type != 'section' %}
                                    <img src="{% url 'medias' image.filename %}" >
                                {% else %}
                                    <img src="{% url 'medias' image %}" >
                                {% endif %} 
                            {% endif %} 
                        {% endfor %}
		        </div>
            {% endif %} 
        	<div class="paragraphe">{{ entry.name }}</div>
	        </div>
            </a>

        {% endfor %}
    </div>

    <div class="transparent_block">
        <div class="title">Prochaines Animations</div>
        <ul id="section-list">
            {% for event in next_events %}
                <li>
                <a href="{% url 'fdp_app-event_view' event.section.url event.id %}">{{ event.name }}</a>
                </li>
            {% endfor %}
		</ul>
        <!--<div id="calendar">
        </div>-->
    </div>

</div>
<!--
    <div class="block">
        <div class="title">Changements recents</div>
    </div>

    <div class="block">
        <div class="title">Commentaires recents</div>
    </div>
-->
