<!DOCTYPE html>
<div class="right">
    <div class="block">
        <div class="title">Changements récents</div>
        {% for entry in recent_change %}
            <div id="light_block">
                <div class="subtitle">{{ entry.title }}</div>
		    <div class="left">
                        {% for image in entry.pictures %}
                            {% if forloop.first %}
                                {% if entry.type != 'section' %}
                                    <img src="{% url 'medias' image.filename %}" >
                                {% else %}
                                    <img src="{% url 'medias' image %}" >
                                {% endif %} 
                            {% endif %} 
                        {% endfor %}
		    </div>
        	<div class="paragraphe">{{ entry.name }}</div>
	    </div>
        {% endfor %}
    </div>
</div>
<!--
    <div class="block">
        <div class="title">Changements recents</div>
    </div>

    <div class="block">
        <div class="title">Commentaires recents</div>
    </div>
-->
