<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <link rel="stylesheet" href="{% url 'statics' 'stylesheets/header.css' %}" />
        <link rel="stylesheet" href="{% url 'statics'  'stylesheets/style.css' %}" />
        <link rel="stylesheet" href="{% url 'statics'  'stylesheets/font.css' %}" />
        <link rel="stylesheet" href="{% url 'statics'  'stylesheets/blocks.css' %}" />
        <link rel="stylesheet" href="{% url 'statics' 'stylesheets/footer.css' %}" />
        <title>Foyer du Porteau</title>
    </head>

    <body>
		{% include "fdp_app/header.html" %}
        <div id="bloc_page">                       
            <div id="inline">
                {% include "fdp_app/left.html" %}
            </div>
            <div id="inline">
                <div class="center">
				    <div id="content">
                        <div class="block">
                            <div class="title_fixe">{{ contents_sections.name }}</div>
                            <div class="subtitle"> Responsable : 
                                {% for contact in section_contact %}
                                    {{ contact.name }}
                                    {% if contact.number_phone %}
                                        {{ contact.number_phone }}
                                    {% endif %}
                                    <br> 
                                {% endfor %}
                            Horaires : {{ contents_sections.schedule }}</div>
							<div class="left">
			                    {% if contents_sections.picture %}
			                        <img src="{% url 'medias' contents_sections.picture %}" >
			                    {% endif %}
							</div>
	                        <div class="paragraphe">{{ contents_sections.content|safe|urlize|linebreaks }}</div>
                        </div>
                        <script type="text/javascript" src="http://slideshow.triptracker.net/slide.js"></script>
                        {% for event in all_events %}
						<div class="block">
                            <div class="title">
                                <a href="{% url 'fdp_app-event_view' contents_sections.url event.id %}">{{ event.name }}</a>
							</div>

                            <div class="subtitle"> Date : {{ event.date }}</div>

							<div class="left">
                                <script type="text/javascript">
                                var viewer_{{event.id}} = new PhotoViewer();
                                </script> 
                                {% for image in event.pictures %}
                                    {% if forloop.first %}
                                        <a href="javascript:void(viewer_{{event.id}}.show(0))">
                                            <img src="{% url 'medias' image.miniature %}" >
                                        </a>                           
                                    {% endif %} 
                                        <script type="text/javascript">
                                            viewer_{{event.id}}.add("{% url 'medias' image.filename %}");
                                        </script> 
                                {% endfor %}
							</div>

                    		<div class="paragraphe">{{ event.content|safe|urlize|linebreaks|truncatewords:100 }}</div>
		                    {% if event.pictures %}
                                <div class="bottom">
                                    <a href="javascript:void(viewer_{{event.id}}.show(0))">
                                    {% for image in event.pictures|slice:"1:6" %}
                                            <img class="images" src="{% url 'medias' image.miniature %}">
                                    {% endfor %}
                                    </a> 
                                </div>
		                    {% endif %}
					    </div>
                      	{% endfor %}
                    </div>
                </div>
            </div>
            
            <div id="inline">
                {% include "fdp_app/right.html" %}
            </div>           
        </div>
        {% include "fdp_app/footer.html" %}
    </body>
</html>
