<div class="left">
    <div class="transparent_block">
        <div class="title">Activités</div>
        <ul id="section-list">
	          {% for section in all_sections %}
                {% if section.types == 0 and section.name != 'Foyer du Porteau' and section.hide != 1 %}
	                <li>
			            <div class="view">
                            <a href="{% url 'fdp_app-section_view' section.slug %}">{{ section.name }}</a>
			            </div>
	                </li>
                {% endif %}
	          {% endfor %}
		</ul>
    </div>
</div>

<div class="right">
    <div class="transparent_block">
        {% include "fdp_app/ephemeride.html" %}
    </div>

    <div class="transparent_block">
        <div class="title">Changements récents</div>
        {% for entry in recent_change %}

            <a href="{% url 'fdp_app-event_view' entry.section_slug entry.id %}">
            <div id="light_block">
            <!--<div class="subtitle">{{ entry.title }}</div>-->
            {% if entry.pictures %}
                <div class="left">
                        {% for image in entry.pictures %}
                            {% if forloop.first %}
                                {% if entry.type != 'section' %}
                                    <img src="{% url 'media' image.filename %}" >
                                {% else %}
                                    <img src="{% url 'media' image %}" >
                                {% endif %} 
                            {% endif %} 
                        {% endfor %}
                </div>
            {% endif %} 
            <div class="paragraphe">{{ entry.name }}</div>
            </div>
            </a>

        {% endfor %}
    </div>

    <div class="transparent_block">
        <div class="title">Prochaines Animations</div>
        <ul id="section-list">
            {% for event in next_events %}
                <li>
                <a href="{% url 'fdp_app-event_view' event.section.slug event.id %}">{{ event.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
